%img.hearts{src: '/images/hearts.png'}

.vcard
  %h1.fn.n
    %span.given-name aimee
    %span.family-name daniells

  %h2.title
    software
    %br/
    crafter

  .tel
    %span.type Mobile
    %span.value 074 032 68 398

  .email aimee@aimeedaniells.com

.contact-links
  %ul
    %li.linkedin
      %a{href: 'http://linkedin.com/in/aimeedaniells'} aimeedaniells
    %li.github
      %a{href: 'http://github.com/sermoa'} sermoa
    %li.twitter
      %a{href: 'http://twitter.com/sermoa'} sermoa
    %li.wordpress
      %a{href: 'http://sermoa.wordpress.com/'} sermoa
    %li.skype
      %a{href: 'skype:sermoa?call'} sermoa
