.section.welcome
  %p I am an independent software crafter, living in Winchester, UK. I am fascinated by the web, mashups, geolocation and mobile technologies.
  %p I specialise in data modelling and integration of existing systems via APIs. I have strong skills in object oriented programming, particularly Ruby.
  %p My particular interests are in TDD, BDD, agile software development, strong client interaction, software craftsmanship, mentoring, open source software, and great user experience at all levels.

.section.portfolio.clearfix

  .example
    %h3 Alan Colledge
    %p.link
      %a{href: 'http://alancolledge.com'} alancolledge.com
    %a{href: 'http://alancolledge.com'}
      %img{src: '/images/examples/alancolledge.jpg', alt: 'alancolledge.com'}
    %p A portfolio website for an artist in Kent. Written in Rails with a custom built order processing system, selling cards, prints and original paintings.

  .example
    %h3 Medical Aesthetic Clinic
    %p.link
      %a{href: 'http://medicalaestheticclinic.co.uk'} medicalaestheticclinic.co.uk
    %a{href: 'http://medicalaestheticclinic.co.uk'}
      %img{src: '/images/examples/clinic.jpg', alt: 'medicalaestheticclinic.co.uk'}
    %p A website to advertise products and services for a local clinic in Winchester. Originally written  as a CMS with PHP and MySQL, i later changed it to use Webby.

  .example
    %h3 MyChores
    %p.link
      %a{href: 'http://mychores.co.uk'} mychores.co.uk
    %a{href: 'http://mychores.co.uk'}
      %img{src: '/images/examples/mychores.jpg', alt: 'mychores.co.uk'}
    %p MyChores is a team-based online tracking system for recurring tasks. It was written for my own benefit, and it was my project for learning Ruby on Rails.

  .example
    %h3 Active Geohasher
    %p.link
      %a{href: 'http://activegeohasher.com'} activegeohasher.com
    %a{href: 'http://activegeohasher.com'}
      %img{src: '/images/examples/activegeohasher.jpg', alt: 'activegeohasher.com'}
    %p Geohashing is a random adventure generator. Every day new coordinate points are generated. This tool calculates the points and allows you to subscribe to RSS and email notifications of those occurring near you.

  .example
    %h3 Merlin's Castle
    %p.link
      %a{href: 'http://merlinscastle.net'} merlinscastle.net
    %a{href: 'http://merlinscastle.net'}
      %img{src: '/images/examples/merlinscastle.jpg', alt: 'merlinscastle.net'}
    %p This is a game i used to play at school. I remade it for the web to give other people the chance to play it. I also used it to learn how to use MongoDB.

  .example
    %h3 And more ...
    %p.link
      %a{href: 'http://github.com/sermoa'} github.com/sermoa
    %a{href: 'http://github.com/sermoa'}
      %img{src: '/images/examples/github.jpg', alt: 'github.com/sermoa'}
    %p I am always working on fun little projects and learning in public.
    %p Check my github account for experiments into creative art and music using Ruby, pair programming projects with people across the world, ruby gems and tools, SICP studies, implementations of design patterns, and much more.
