%header
  .vcard
    %h1.fn.n
      %span.given-name aimee
      %span.family-name daniells

    %h2.title
      software
      %br/
      crafter

    .tel
      %span.type Mobile
      %span.value 074 032 68 398

