.cv
  %a(href="http://j.mp/aimeedaniellscv")
    %img(src="/images/cv.png" width="96px" height="96px" alt="aimee daniells cv" title="aimee daniells cv")
    %p aimee daniells cv

.section.welcome
  %p I am an independent software crafter, living in Winchester, UK. I am fascinated by the web, mashups, geolocation and mobile technologies.
  %p I specialise in data modelling and integration of existing systems via APIs. I have strong skills in object oriented programming, particularly Ruby.
  %p My particular interests are in TDD, BDD, agile software development, strong client interaction, software craftsmanship, mentoring, open source software, and great user experience at all levels.

.section.portfolio.clearfix

  %h2 Freelance work

  .example
    %h3 Buffer for Android
    %p.link
      %a{href: 'https://market.android.com/details?id=org.buffer.android'} Android Marketplace
    %a{href: 'https://market.android.com/details?id=org.buffer.android'}
      %img{src: '/images/examples/buffer.jpg', alt: 'Buffer for Android'}
    %p A complete overhaul of its simplistic predecessor, version 2 of Buffer for Android now provides a fully functional native Android app which communicates with the Buffer API.

  .example
    %h3 BoxedUp
    %p.link
      %a{href: 'http://boxedup.com'} boxedup.com
    %a{href: 'http://boxedup.com'}
      %img{src: '/images/examples/boxedup.jpg', alt: 'boxedup.com'}
    %p A rewrite of BoxedUp had been ongoing for over a year. I worked with them to finally get it launched. Huge data migrations, Rails, MongoDB and Resque.

  .example
    %h3 Aphrodite's Desire
    %p.link
      %a{href: 'http://aphroditesdesire.com'} aphroditesdesire.com
    %a{href: 'http://aphroditesdesire.com'}
      %img{src: '/images/examples/aphroditesdesire.jpg', alt: 'aphroditesdesire.com'}
    %p This web shop was built and launched in a single day. My client needed to be able to add products easily and keep track of orders. Shopify proved to be the ideal platform.

  .example
    %h3 Alan Colledge
    %p.link
      %a{href: 'http://alancolledge.com'} alancolledge.com
    %a{href: 'http://alancolledge.com'}
      %img{src: '/images/examples/alancolledge.jpg', alt: 'alancolledge.com'}
    %p A portfolio website for an artist in Kent. Written in Rails with a custom built order processing system, selling cards, prints and original paintings.

  .example
    %h3 Medical Aesthetic Clinic
    %p.link
      %a{href: 'http://medicalaestheticclinic.co.uk'} medicalaestheticclinic.co.uk
    %a{href: 'http://medicalaestheticclinic.co.uk'}
      %img{src: '/images/examples/clinic.jpg', alt: 'medicalaestheticclinic.co.uk'}
    %p A website to advertise products and services for a local clinic in Winchester. Originally written  as a CMS with PHP and MySQL, i later changed it to use Webby.

.section.portfolio.clearfix

  %h2 Pet projects

  .example
    %h3 MyChores
    %p.link
      %a{href: 'http://mychores.co.uk'} mychores.co.uk
    %a{href: 'http://mychores.co.uk'}
      %img{src: '/images/examples/mychores.jpg', alt: 'mychores.co.uk'}
    %p MyChores is a team-based online tracking system for recurring tasks. It was written for my own benefit, and it was my project for learning Ruby on Rails.

  .example
    %h3 Active Geohasher
    %p.link
      %a{href: 'http://activegeohasher.com'} activegeohasher.com
    %a{href: 'http://activegeohasher.com'}
      %img{src: '/images/examples/activegeohasher.jpg', alt: 'activegeohasher.com'}
    %p Geohashing is a random adventure generator. Every day new coordinate points are generated. This tool calculates the points and allows you to subscribe to RSS and email notifications of those occurring near you.

  .example
    %h3 Merlin's Castle
    %p.link
      %a{href: 'http://merlinscastle.net'} merlinscastle.net
    %a{href: 'http://merlinscastle.net'}
      %img{src: '/images/examples/merlinscastle.jpg', alt: 'merlinscastle.net'}
    %p This is a game i used to play at school. I remade it for the web to give other people the chance to play it. I also used it to learn how to use MongoDB.

  .example
    %h3 And more ...
    %p.link
      %a{href: 'http://github.com/sermoa'} github.com/sermoa
    %a{href: 'http://github.com/sermoa'}
      %img{src: '/images/examples/github.jpg', alt: 'github.com/sermoa'}
    %p I am always working on fun little projects and learning in public.
    %p Check my github account for experiments into creative art and music using Ruby, pair programming projects with people across the world, ruby gems and tools, SICP studies, implementations of design patterns, and much more.

.section.testimonials.clearfix
  %h2 Testimonials

  .half
    .testimonial
      %blockquote
        “Aimee came into our company and really delivered from the start, her enthusiasm for the work, technical knowledge and her creative ability were first class. She has been a great member of the team.”
      .attribution Spencer Bookatz, May 2011

    .testimonial
      %blockquote
        “I can recommend, without hesitation, Aimee's skills sets, knowledge and general all round energy to any interested party seeking a top level player on their team.”
      .attribution James Griffiths, May 2011

    .testimonial
      %blockquote
        “What I most like about Aimee is that she cares. She cares about the clients she works with, she care about the colleagues she works with and she cares about the code she writes.”
      .attribution Alberto Peña Abril, March 2011

    .testimonial
      %blockquote
        “We have had many compliments from patients and suppliers about our website. It is easy to use and visually very attractive.”
      .attribution Cathy Wallwork RGN, March 2011

  .half.last
    .testimonial
      %blockquote
        “Beyond her excellent technical skills crafting quality, Test Driven code, aimee is also a talented mentor. I would highly recommend her as a developer consultant and as an Agile mentor / coach.”
      .attribution Todd Anderson, March 2011

    .testimonial
      %blockquote
        “I would recommend Aimee to any software development team as a strong and solid coder. She will bring an edge of enthusiasm and fun to pretty much any project, and will naturally encourage and nurture the newer and less experienced members of the team. Hire her: you won’t regret it.”
      .attribution Chris Parsons, March 2011

    .testimonial
      %blockquote
        “aimee loves her craft and continuously tries to better her skills. Her focus and dedication to her customers and project work is second to none.”
      .attribution Enrique Comba Riepenhausen, March 2011
